<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset='UTF-8'>
        <title>Lista de clases</title>
    </head>
    <body>
        <h1>Lista de clases</h1>

        <table >
            <!-- <thead> -->
            
                
            
                
          
              
          
        {% if clases %}
            
                <tr><th >Nombre :</th> <th> Alumnos Inscritos</th></tr>
                {% for clase in clases  %}
                
                    <tr><td>{{ clase.nombre }}</td> <td>    <button><a href="http://127.0.0.1:8000/get_clases/{{clase.id}}">Detalle de alumnos inscritos</a></button></td></tr>
                {% endfor %}
            
        {% else %}
            <p>No existen datos</p>
        {% endif %}
    </table>
    </body>
</html>
